/* header style */
header{
    height: 170px;
    background-image: url(img/pattern.png);
    background-color: rgb(0, 191, 255);
    position: relative;
}

#logo {
    width: 300px;
    position: absolute;
    left: 0;
    bottom: 0;
}

/* title and author style */
#title{
    font-size: 40px;
}

.written-by {
    color: grey;
    font-size: 25px;
}

#author {
    color: rgb(0, 213, 255);
}

#publishing-date {
    color: grey;
}

.photos-description{
    font-size: 15px;
}

/* main article style */
#main-article {
    font-size: 18px;
}
/* table style */
table{
    width: 100%;
    border-collapse: collapse;
}

th{
    width: calc(100% / 3);
    background-color: rgb(0, 149, 255);
    color: white;
}

tr:nth-child(odd) {
    background-color: lightblue
}

